/*
    Author:     Henning P. Tandberg
    File:       admin-style.css
    Website:    henningtandberg.no
*/

/* GENERAL LAYOUT */

body {
    width:              auto;
    height:             auto;
    background-color:   white;
}

h5 {
    color: white;
}

section {
    margin-left: 138px;
}

.container {
    padding: 0 0 0 0;
}

.testbox {
    background-color: rgba(255, 255, 255, 0.5);
}


/* LOGIN */
.login {
    padding-top: 20em;
}

.login h2,
.login form label {
    color:          #BCBCBC;
    text-shadow:    2px 2px black;
}

/* NAVBAR TOP */

.navbar-right {
    padding-right: 30px;
}

/* NAVBAR LEFT */

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

/* OFFSET NAVBAR LEFT */
.navbar-fixed-left {
    padding-top:    50px;
}

/* OFFSET TOP */
.offset-top {
    margin-top: 50px;
}


/* BLOG */
